<div class="destinationContainer">
    <div class="pickupContainer">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="16" height="16" rx="8" fill="#3563E9" fill-opacity="0.3" />
            <circle cx="8" cy="8" r="4" fill="#3563E9" />
        </svg>
        <p>
            Pick - Up
        </p>
    </div>
    <div class="detailsContainer">
        <div class="dropContainer">
            <p class="headins">Locations</p>
            <select name="" id="" class="dropdown">
                <option value="" class="defaultSelect">Select your city</option>
            </select>
        </div>
        <svg width="1" height="48" viewBox="0 0 1 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" y1="0.5" x2="0.5" y2="47.5" stroke="#C3D4E9" stroke-opacity="0.4" stroke-linecap="round" />
        </svg>
        <div class="dropContainer">
            <p class="headins">Date</p>
            <select name="" id="" class="dropdown">
                <option value="" class="defaultSelect">Select your date</option>
            </select>
        </div>
        <svg width="1" height="48" viewBox="0 0 1 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" y1="0.5" x2="0.5" y2="47.5" stroke="#C3D4E9" stroke-opacity="0.4" stroke-linecap="round" />
        </svg>
        <div class="dropContainer">
            <p class="headins">Time</p>
            <select name="" id="" class="dropdown">
                <option value="" class="defaultSelect">Select your time</option>
            </select>
        </div>
    </div>
</div>