<div class="card">
    <div class="headerContainer">
        <div class="heading">
            <p>
                Thank You For Choosing Morent
            </p>
        </div>
        <div class="carType">
            <p>Please go to morent pickup point shown in map</p>
            <p><span style="cursor: pointer;color: blue;" (click)="notifyMapsComponent()">Click Here</span> To open
                location to
                google maps</p>
        </div>
        <div class="heading">
            <p>
                Total Rental Price :
            </p>
        </div>
    </div>
</div>