<div class="container">
    <app-image-preview [data]="carDetails|async"></app-image-preview>
    <app-car-details-card [data]="carDetails|async"></app-car-details-card>
</div>
<div class="container">
    <div class="card">
        <app-location [data]="parentData" #pickUp [heading]="'Pick - Up'" [formData]="mainPageServices.pickUp|async"
            class="applocationdeails"></app-location>
    </div>
    <div class="card">
        <app-location [data]="parentData" #dropOff [heading]="'Drop - Off'" [formData]="mainPageServices.dropOff|async"
            class="applocationdeails"></app-location>
    </div>
    <button (click)="rentNow()">
        <p>Rent Now</p>
    </button>
</div>