.cardContainer{
    background-color: #F6F7F9;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    background-color: #F6F7F9;
    padding: 6.4em;
    padding-top: 0px;
}

.applocationdeails{
    background-color: #F6F7F9;
    font-family: 'Plus Jakarta Sans';
    /* padding: 6.4em; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6.4em;
}