<div class="cardContainer">
    <div class="container">
        <app-location [data]="parentData" [heading]="'Pick - Up'" class="applocationdeails"></app-location>
        <app-reverse></app-reverse>
        <app-location [data]="parentData" [heading]="'Drop - Off'" class="applocationdeails"></app-location>
    </div>
    <div class="cards">
        <app-carcards (rentNow)="commonMethods.rentNow($event)" *ngFor="let i of data$|async" [data]="i"
            class="card"></app-carcards>
    </div>
</div>